Options +FollowSymLinks
RewriteEngine on

ErrorDocument 404 /404.html

# Add a trailing slash to directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !app/(.*)$
RewriteCond %{REQUEST_URI} !(\.\w+)$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ([^/]+)$ $1/ [L]

# Deny access to any any non-index.php files within /app
RewriteCond %{REQUEST_URI} app(.*)$
RewriteRule !^app/index.php$ app/index.php

# Rewrite any calls to /projects to the app
RewriteRule ^projects/$ app/
RewriteRule ^projects/([^/]+)/$ app/?project&name=$1

# Rewrite any calls to /* to the app
RewriteCond %{REQUEST_URI} app/$
RewriteRule ^app - [S=3]
	RewriteRule ^([^/]+)/$ app/?$1 [S=2]
	RewriteRule ^$ app/ [S=1]
		
# Rewrite any file calls to the public directory
RewriteCond %{REQUEST_URI} public/$
RewriteRule ^public - [S=2]
	RewriteCond %{REQUEST_URI} !(projects|app|public|content)/(.*)$
	RewriteRule ^(.+) public/$1