foreach $video do
  <div class="media">
    <object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab" width="@width" height="@height" >
      <param name="src" value="@url">
      <param name="autoplay" value="false">
      <param name="controller" value="true">
      <embed src="@url" width="@width" height="@height" autoplay="false" controller="true" pluginspage="http://www.apple.com/quicktime/download/"></embed>
    </object>
  </div>
endforeach