/*

  Colours/typography

*/

body { font-family: helvetica, arial, sans-serif; font-size: 62.5%; color: #000; line-height: 1.35em; }

h4 { color: #B2B2B2; }

p,
a { color: #666; }

p a,
p span { font-size: 1.0em; color: #666; }

h1, 
h2, 
h3 { font-size: 1.4em; line-height: 1.6em; }

h1 a { color: inherit; text-decoration: none; font-weight: bold; }

h3,
h3 a { font-weight: normal; color: inherit; }

h4,
p, 
label,
input { font-size: 1.2em; line-height: 1.6em; font-weight: normal; padding: 0; }

hr { display: block; clear: both; visibility: hidden; float: none; height: 0px; margin: 0px; padding: 0px; border: 0px; *margin: -15px 0px 0px; }

p.year { color: #B2B2B2; }

#search-projects-container label { color: #666; }

#search-projects-container label span { color: #B2B2B2; }

#header-information #search-projects-container input { background: #eee; color: #666; border: 0px solid; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 4px; line-height: 1em; font-size: 1.2em; }

p.image-title { display: none; font-weight: bold; clear: both; padding: 5px 0px 0px; margin: 5px 0px 0px; }
p.image-description { display: none; margin: 0px 0px 12px; }

/* 

  General/layout

*/

a img { border: 0; }

h1 a.edit,
h1 a.view { padding: 0px 0px 0px 3px; margin: 0px; font-size: 0.8em; font-weight: normal; color: #B2B2B2; text-decoration: none; }

#container { margin: 0 40px; }

#header-information { padding-bottom: 10px; border-bottom: 1px dotted #666; margin-bottom: 20px; }

#header-information p { margin: 0; float: left; width: 190px; }

#search-projects-container { float: left; margin: -2px 0px 0px; }

#search-projects-container span { margin: 0px 8px; }

#project-information { width: 310px; float: left; }

#project-information p.year,
#project-information p.month { clear: none; margin: 15px 0px 0px 0px; *margin: 5px 0px 0px 0px; }

#project-information img { clear: both; display: block; margin: 0px 0px 8px; }

#project-information .project-description,
#container #project-information h4 { padding: 0px 40px 3px 0px; }

#project-images { float: left; width: 550px; margin-bottom: 7px; }

#project-images img { float: left; margin: 12px 12px 0px 0px; }

#copyright { clear: both; margin: 10px 0px 0px 0px; border-top: 1px dotted #666; }

#copyright a { margin-left: 10px; }

/* 

  Detailed layout 

*/

h1 { margin: 0px; }

h2 { width: 170px; float: left; }

div.projects { float: left; margin: 0px 0px 10px; }

p.year,
p.duplicate-year { display: block; width: 70px; clear: both; float: left; margin: 14px 0px 0px 0px; *margin: 4px 0px 0px 0px; }
p.duplicate-year { visibility: hidden; }

div.projects-by-year { float: left; }

p.month { width: 70px; clear: both; float: left; display: block; margin: 14px 0px 0px 0px; *margin: 4px 0px 0px 0px; }

div.project { float: left; width: 550px; margin-bottom: 7px; }

div.project img { float: left; margin: 6px 12px 0px 0px; }

div.project h3,
div.project h4,
div.project p,
div#project-information h3,
div#project-information h4,
div#project-information p { margin: 0px 0px 3px 0px; padding: 0; }

div.project h3 { margin-top: 10px; }

h4.empty-result { margin-top: 11px; }

div.project h4 { display: block; height: 1.35em; overflow: hidden; }

div.project h4 span { display: block; }

div#project-information p { margin-bottom: 4px; }

/*

Non-pro specific

*/

div.projects a.image {
	vertical-align: top;
	margin: 0px 20px 20px 0px;
	float: left;
	height: 240px;
	*height: 245px;
}

/*

	Pagination-specific
	
*/

div.pagination,
div.pagination-internal { clear: both; margin: 15px 0px 0px 154px; }
div.pagination-internal { margin: 15px 0 0 290px; }

div.pagination span,
div.pagination-internal span,
div.pagination a,
div.pagination-internal a { font-size: 1.2em; line-height: 1.6em; }

div.pagination span,
div.pagination-internal span { color: #ccc; }
div.pagination a,
div.pagination-internal a { color: #666; margin: 0px 3px; text-decoration: none; }

.current { margin: 0px 3px; }