<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.name }}'s Portfolio </title>
    <link rel="alternate" type="application/atom+xml" href="{{ page.root_path }}/?/feed/">
    <link rel="stylesheet" href="{{ page.root_path }}/public/docs/css/screen.css" type="text/css" media="screen">
  </head>
  <body>
    <div id="container">
      <h1 class="col three">
        <a href="{{ page.root_path }}">{{ page.name }}</a>
        <strong>{{ page.profession }}</strong>
      </h1>
      <em class="col three">{{ page.email }}</em>
      <hr>
      {% include 'partials/navigation/navigation.html' %}
      <div id="content" class="col eight">
        {% include 'partials/navigation/category-lists.html' %}
      </div>
      <hr>
      <p id="footer" class="col six">&copy; Copyright {{ page.name }} {{ page.current_year }} <a class="atom-rss" href="{{ page.root_path }}/?/feed/">RSS</a><br>
        <em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
    </div>
  </body>
</html>
