<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@page_title</title>
		<meta name="description" content="@page_description">
		<link rel="stylesheet" href="@Site_Root/docs/css/screen.css" type="text/css" media="screen"> 
	</head>
	<body>
		<div id="container">
			<h1 class="col three">
				<a href="@Site_Root">@name</a>
				<strong>@profession</strong>
			</h1>
			<em class="col three">@email</em>
			<hr>
			@Navigation
			<div id="content" class="col eight">
				<p class="date col one">&para;</p>
				<div class="description col six">
					<h2 class="col six"><a href="@Site_Root">@title</a></h2>
					@Images
					@content
				</div>
			</div>
			<hr>
			<p id="footer" class="col six">&copy; Copyright @name @Year<br>
				<em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
		</div>
	</body>
</html>