{% extends "base/base.twig" %}
	
	{% block title %}{{ page.title }}, {{ parent() }} {% endblock %}
	
  {% block content %}
  <body>
    <div id="container">
      <h1 class="col three">
        <a href="{{ page.root_path }}">{{ page.name }}</a>
        <strong>{{ page.profession }}</strong>
      </h1>
      <em class="col three">{{ page.email }}</em>
      <hr>
      {% include 'partials/navigation/navigation.html' %}
      <div id="content" class="col eight">
        {% include 'partials/navigation/category-lists.html' %}
      </div>
      <hr>
      <p id="footer" class="col six">&copy; Copyright {{ page.name }} {{ page.current_year }} <a class="atom-rss" href="{{ page.root_path }}/?/feed/">RSS</a><br>
        <em>Content managed by <a href="http://www.staceyapp.com">stacey</a></em></p>
    </div>
    </body>
  {% endblock %}
