{% extends "base/base.twig" %}
	
	{% block title %}{{ page.title }}, {{ parent() }} {% endblock %}
	
  {% block content %}
  <body>
    <div id="container">
      <h1 class="col three">
        <a href="{{ page.root_path }}">{{ page.name }}</a>
        <strong>{{ page.profession }}</strong>
      </h1>
      <em class="col three">{{ page.email }}</em>
      <hr>
      {% include 'partials/navigation/navigation.html' %}
      <div id="content" class="col eight">
        {% include 'partials/navigation/category-lists.html' %}
      </div>
      <hr>
      {% block footer %} 
       {{ parent() }}
      {% endblock %}
    </div>
    </body>
  {% endblock %}
