<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>@page_title</title>
		<meta name="description" content="@page_description">
	</head>
	<body>
		<h1><a href="/">Anthony Kolber's Portfolio</a></h1>
		<hr>
		@Navigation
		<hr>
		<h2>@title</h2>
		<p>@content</p>
		@Images
		<p class="last-paragraph">@contentz</p>
		<h4>@photographer</h4>
		<hr>
		<p>Copyright &copy; @Year</p>
	</body>
</html>